.home-title {
    margin-top: 4ch;
    text-align: center;
}

.home-button {
    width: 50%;
    align-self: center;
}

.store-form {
    width: 50%;
    align-self: center;
}

.navbar-button {
    margin-left: 1ch;
}